#storeName{
    text-align: center;
    font-family: serif;
    font-weight: bold;
}
#weeklyDeals{
    text-align: center;
    font-weight: bold;
    font-family: serif;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid black;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #5cb85c;
    color: #ffffff;
    text-decoration: none;
}

.active {
    background-color: #5cb85c;
    color: #000000;


}
.active:hover{
    text-decoration: none;
    background-color: #5cb85c;
    color: #ffffff;
}
#bg{

}
#nyam:hover{
    color: #5cb85c;

}